/*Apply To All ------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.space-container{
    margin-top: 110px;
    background-color: rgb(193, 193, 240, 0.3);
}

/*Navigation Bar ----------------------*/

.navbar-brand:hover {
    transform: scale(1.1);
}

.nav-search {
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6,
.dilevery-font,
.navbar {
    font-weight: bold;
    font-family: 'Source Serif 4', sans-serif;
}

.navborder {
    border-bottom: 1px solid black;
}

.nav-2-display {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    justify-content: center;
}

.nav-2-item {
    display: block;
}

.nav-2-title {
    color: rgba(0,0,0,.5);
}

.nav-2-title:hover {
    color: black;
}

footer {
    background-color: rgb(241, 232, 232);
    width: 100%;
    text-align: center;
  }

/* Product Page / Category Page --------------------- */

.product-link:hover {
    text-decoration: none;
}

.product-display {
    border: 1px solid black;
}

.card-title,
.card-price,
.card-cat,
.card-rating {
    color: black;
}

.card-title {
    font-weight: bold;
    
}

.title-link {
    color: black;
}

.title-link:hover {
    font-weight: bolder;
    color: black;
    text-decoration: none;
}

.card-rating {
    text-align: center;
}

.view-btn {
    margin: auto;
    width: 100%;
}

.view-btn:hover {
    border: 1px solid black;
}

.paginator {
    margin: auto;
}

.view-product-btn {
    color: white;
    font-weight: bold;
}

.view-product-btn:hover {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.product-img {
    margin: auto;
    height: 180px;
    width: 100%;
    display: block;
}

/* Product Detail Page ------------------------ */

.detail-image {
    width: 80%;
    margin: auto;
    display: block;
}

.product-details-container {
    display: grid;
}

#select {
    text-align: center;
    width: 10%;
    margin: auto;
}

.detail-add-btn {
    width: 60%;
    margin: auto;
}